body {
    background-color: lightblue;
    font-family: Arial, sans-serif;
}

.custom-nav {
    background-color: tomato;
}

.hero-box {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
}

.custom-card {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}